.missiontimer{
    width: 155pt;
    height: 50px;
    display:inline-flex;
    position: absolute; 
    top: 3.5vh;
    left: 97vw;
    transform: translateX(-100%);
    z-index: 2;
    border: 1px rgba(204, 203, 203, 0.555) solid;;

    color: whitesmoke;
    font-family: 'Share Tech Mono', monospace;
}

.missiontimer p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
    font-size: 11pt;
}